body {
    background-color: #377771;
}

#heading-div {
    display: flex;
    justify-content: center;
}

.wish-div {
    margin-top: 10px;
    background-color: #4CE0B3;
    box-shadow: 3px 3px;
}

.heading-div {
    display: flex;
    justify-content: center;
}

.vote-div {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}

.grant-div {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-evenly;
}

.deny-div {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-evenly;
}

.fa-wand-magic-sparkles:hover {
    transform: scale(1.2);
}

.fa-ban:hover {
    transform: scale(1.2);
}

#create-wish {
    display: flex;
    justify-content: center;
}

#wish-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #4CE0A9;
    box-shadow: 3px 3px;
    padding: 10px;
}

#wish-input {
    margin-left: 20px;
    margin-right: 20px;
}

